@import 'effects';
@import 'media';

$color-dark: #131218;

$container-height: 5em;

$active-container-background-color: #555265;
$inactive-container-background-color: #3a393f;

$image-container-background-color: #131218;

$active-text-color: #f98948;
$inactive-text-color: #bbbbbb;

h1 {
  color: $color-dark;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 100%;
  margin: 0;

  @include media-wide() {
    font-size: 150%;
  }
}

.Streamer {
  background-color: $active-container-background-color;
  @include Border(#3a393f);
  @include BoxShadow();
  color: $inactive-text-color;
  display: block;
  height: $container-height;
  left: 50%;
  line-height: $container-height;
  margin: 0.5em 0;
  max-width: $media-target-width;
  overflow: hidden;
  text-align: left;
  text-overflow: clip;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  width: 100%;

  @include media-wide() {
    margin: 1em auto;
  }

  &:hover {
      background-color: lighten($active-container-background-color, 10%);
  }

  &.online {
    h2 {
      color: $active-text-color;
    }
  }

  &.offline {
    background-color: $inactive-container-background-color;
    @include Border(darken($inactive-container-background-color, 10%));

    h2 {
      color: $inactive-text-color;
    }

    img {
      filter: grayscale(100%);
    }

    &:hover {
        background-color: lighten($inactive-container-background-color, 10%);
    }
  }

  .Streamer-image-container {
    float: left;
    height: 100%;
    text-align: center;
    width: $container-height;

    .Streamer-image-slot {
      background-color: $image-container-background-color;
      @include Border(#DBDBDC);
      @include BoxShadowShallow();
      display: inline-block;
      height: $container-height * 0.8;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      width: $container-height * 0.8;
    }

    img {
      color: $image-container-background-color;
      font-size: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .Streamer-text-line-container {
    display: inline-block;
    height: 100%;
    width: calc(100% - $container-height);
  }

  .Streamer-text-line {
    height: 50%;
    line-height: $container-height * 0.5;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    width: 100%;
  }
}
